*{
  margin: 0;
  padding: 0;
}

.nav {
  background-color: rgb(255, 255, 255);
  height: 70px;
  display: flex;
  /* justify-content: space-between;
  align-items: center; */
  /* padding: 20 80px; */
 
}
ul{

  display: flex;
  gap:10px;
}
li span{
  color:gray;
}
ul li {
list-style: none;
margin-left: 60px;
margin-top: 25px;

}
ul li a{
 text-decoration: none; 
 font-weight: bolder;
 color:black;
 font-size:17px;
}
img{
  height:50px;
  margin-top: 10px;
  width:110px;
  margin-left: 40px;
  border-radius: 13px;
  
}
ul li a:hover{
  color:rgb(255, 100, 27);
}
.icon{
  display: flex;
  
}
.icon:hover{
  color:rgb(255, 100, 27);
}
.threeline{
display: none;
}

/* responsive */
@media (max-width: 768px) {
  .nav {
    flex-direction: row;
    align-items: flex-start;
    padding: 10px;
    height: auto;
  }

  .logo-img img {
    margin-left: 0;
    margin-bottom: 10px;
  }

  ul {
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
    gap: 15px;
  }

  ul li {
    margin-left: 0;
    margin-top: 15px;
  }

  ul li a {
    font-size: 16px;
  }

  .list{
    display: none;
  }
  .nav{
    display: flex ;
    justify-content: space-between;

  }
  .logo-img{
    /* background-color: green; */
  }
  .threeline{
    margin-right: 10px;
    margin-top: 20px;
    cursor: pointer;
    display: block;
  }   
}

@media (max-width: 480px) {
  .nav {
    padding: 10px;
      }

  ul li a {
    font-size: 14px;
  }
}